## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [74]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [75]:
# Your code here

# random.sample(population, k): Return a k length list of UNIQUE elements

sample_list_1 = random.sample(range(0,101),80)
print(sample_list_1)
# print(len(sample_list_1)) # 80
# print(len(sample_list_1)==len(set(sample_list_1))) # True

[78, 48, 93, 100, 35, 37, 40, 90, 62, 23, 54, 80, 70, 57, 33, 76, 14, 67, 95, 7, 56, 26, 73, 49, 17, 86, 60, 63, 52, 69, 19, 10, 22, 53, 29, 15, 46, 34, 91, 97, 81, 51, 18, 31, 16, 6, 24, 11, 87, 20, 0, 50, 28, 13, 96, 64, 94, 65, 43, 59, 55, 74, 58, 92, 84, 47, 88, 42, 1, 4, 5, 2, 83, 21, 85, 8, 39, 99, 30, 75]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [76]:
# Your code here

set1 = set(sample_list_1)
print(len(set1)) # 80, because random.sample return UNIQUE elements

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [77]:
# Your code here

sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.sample(range(0,101),1)[0])
# print(len(sample_list_2)) # 80
print(sample_list_2)

[57, 82, 76, 54, 71, 29, 2, 58, 100, 60, 69, 80, 87, 5, 90, 68, 68, 13, 8, 94, 82, 30, 52, 65, 29, 82, 46, 16, 3, 31, 69, 18, 87, 14, 31, 9, 70, 18, 97, 73, 63, 96, 71, 11, 90, 60, 34, 70, 10, 10, 87, 60, 47, 48, 95, 66, 52, 48, 29, 30, 80, 16, 20, 80, 17, 41, 16, 35, 75, 49, 58, 80, 5, 26, 50, 48, 77, 82, 89, 64]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [78]:
# Your code here

set2 = set(sample_list_2)
print(len(set2)) # 52, because now I don't have UNIQUE elements
# print(set2)

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [79]:
# Your code here

listaaux = []
for e in set1:
    if e not in set2:
        listaaux.append(e)
# print(listaaux)
set3 = set(listaaux)
print(set3)

{0, 1, 4, 6, 7, 15, 19, 21, 22, 23, 24, 28, 33, 37, 39, 40, 42, 43, 51, 53, 55, 56, 59, 62, 67, 74, 78, 81, 83, 84, 85, 86, 88, 91, 92, 93, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [80]:
# Your code here

listaaux2 = []
for e in set2:
    if e not in set1:
        listaaux2.append(e)
# print(listaaux2)
set4 = set(listaaux2)
print(set4)

{66, 3, 68, 71, 9, 41, 77, 82, 89}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [81]:
# Your code here

listaaux3 = []
for e in set1:
    if e in set2:
        listaaux3.append(e)
# print(listaaux3)
set5 = set(listaaux3)
print(set5)

# listaaux4 = []
# for e in set2:
#    if e in set1:
#       listaaux4.append(e)
# print(listaaux4)
# set6 = set(listaaux4)
# print(set6)
# print(set5 == set6)

# print(len(set3) + len(set5) == len(set1)) # True
# print(len(set4) + len(set5) == len(set2)) # True

{2, 5, 8, 10, 11, 13, 14, 16, 17, 18, 20, 26, 29, 30, 31, 34, 35, 46, 47, 48, 49, 50, 52, 54, 57, 58, 60, 63, 64, 65, 69, 70, 73, 75, 76, 80, 87, 90, 94, 95, 96, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [82]:
# Your code here

# print(len(set5) == len(set1) - len(set3)) # True
# print(len(set5) == len(set2) - len(set4)) # True

print(len(set5) == len(set1) - len(set3) == len(set2) - len(set4))

True

#### Create an empty set called `set6`.

In [91]:
# Your code here

set6 = set()
# print(type(set6)) # <class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [92]:
# Your code here

set6.update(set3, set5)
print(set6)
print(len(set3)+len(set5) == len(set6))

{0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 33, 34, 35, 37, 39, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 67, 69, 70, 73, 74, 75, 76, 78, 80, 81, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
True

#### Check if `set1` and `set6` are equal.

In [94]:
# Your code here

print(set1 == set6) # True

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [100]:
# Your code here

print(set2.issubset(set1)) # False
print(set3.issubset(set1)) # True: Todos los elementos de set3 están en de set1

# print(set1.issubset(set3)) # False: No todos los elementos de set1 están en set3 (porque set3+set5=set1)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [104]:
# Your code here

set34 = set3.union(set4)
set345 = set34.union(set5)

set12 = set1.union(set2)

# print(len(set345)==len(set12)) # True. len= 89
print(set345 == set12) # True

True

#### Using the `pop` method, remove the first element from `set1`.

In [111]:
# Your code here
print(set1)
x = set1.pop()
print(x)
print(set1)

{0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 33, 34, 35, 37, 39, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 67, 69, 70, 73, 74, 75, 76, 78, 80, 81, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
0
{1, 2, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 33, 34, 35, 37, 39, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 67, 69, 70, 73, 74, 75, 76, 78, 80, 81, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [112]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    if e in set1:
        set1.remove(e)
print(set1)

{2, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 28, 30, 33, 34, 35, 37, 40, 42, 43, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 70, 73, 74, 75, 76, 78, 80, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 100}